<div class="revisar">
	
	<app-header></app-header>

	<nav aria-label="breadcrumb">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item">1 Envío</li>
	    <li class="breadcrumb-item">2 Pago</li>
	    <li class="breadcrumb-item active">3 Revisar</li>
	  </ol>
	</nav>

	<h3>Su pedido se ha ingresado con exitosamente</h3>
	<app-tienda-product-list-img></app-tienda-product-list-img>

	<p>La dirección de entrega es:</p>	
	<div class="text">
		<p>Passeo de las Jarras 1554</p>
		<p>Col, Independencia</p>
		<p>Querétano, Querétano</p>
		<p>C.P. 45632</p>
	</div>

	<p>Llegará en 3 a 5 dias después de que reciba su numero de rastreo</p>

	<h4>¡Gracias por su compra!</h4>
	<a href="" class="btn btn-primary"> Aceptar </a>

	<app-footer></app-footer>

</div>