<app-header></app-header>

<app-tienda-product-list></app-tienda-product-list>


<form>

	<div class="row">
		<div class="col">
			<label>Calcula tu envío</label>
		</div>

		<div class="col">
			<label for="cp">C.P.:</label>
    		<input type="text" class="form-control" id="cp" aria-describedby="cp" placeholder="C.P.">
		</div>

		<div class="col">
			Envío: 55555 <br>
			Total : 8888
		</div>
	</div>

	<div class="img_banck center">
		<div class="row">
			<div class="col"><img src="https://png.pngtree.com/png-clipart/20190520/original/pngtree-visa-flat-icon-design-png-image_4094036.jpg" height="42" width="42"></div>
			<div class="col"><img src="https://png.pngtree.com/png-clipart/20190520/original/pngtree-visa-flat-icon-design-png-image_4094036.jpg" height="42" width="42"></div>
			<div class="col"><img src="https://png.pngtree.com/png-clipart/20190520/original/pngtree-visa-flat-icon-design-png-image_4094036.jpg" height="42" width="42"></div>
		</div>
	</div>

  	<a href="/envio" class="btn btn-secondary btn-lg btn-block">Comprar</a>
</form>

<app-footer></app-footer>