<div class="products_list">
	<div *ngFor="let tienda of tiendas">
		<div class="logo_tienda">
			<img src="{{tienda.img}}" height="42" width="42">
		</div>

		<table class="table">
		  <thead>
		    <tr>
		      <th scope="col">Producto</th>
		      <th scope="col">Cantidad</th>
		      <th scope="col">Precio</th>
		    </tr>
		  </thead>

		  <tbody>
		    <tr *ngFor="let product of tienda.products">
		      <th scope="row">  
		      	<img src="{{product.img}}" height="42" width="42">
		      </th>
		      <td>
		      {{product.amount}} <button class="btn btn-secondary btn-sm">quitar</button>   </td>
		      <td> {{product.price}} </td>
		    </tr>
		  </tbody>
		</table>
	</div>
</div>