<div class="products_list">

	<div class="logo_tienda">
		<img src="https://pbs.twimg.com/profile_images/1046789269749030912/Qs4ZozCA_400x400.jpg" height="42" width="42">
	</div>

	<table class="table">
	  <thead>
	    <tr>
	      <th scope="col">Producto</th>
	      <th scope="col">Cantidad</th>
	      <th scope="col">Precio</th>
	    </tr>
	  </thead>

	  <tbody>
	    <tr>
	      <th scope="row">  
	      	<img src="https://http2.mlstatic.com/maquillaje-liquido-timewise-mary-kay-acabado-luminoso-full-D_NQ_NP_729632-MLM31239309421_062019-O.webp" height="42" width="42">
	      </th>
	      <td> 2 <button class="btn btn-secondary btn-sm">quitar</button>   </td>
	      <td> 10 </td>
	    </tr>
	  </tbody>
	</table>
</div>