<div class="envio">
	<app-header></app-header>

	<nav aria-label="breadcrumb">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item active">1 Envío</li>
	    <li class="breadcrumb-item">2 Pago</li>
	    <li class="breadcrumb-item">3 Revisar</li>
	  </ol>
	</nav>

	<div class="direccion_envio">
		<div class="row">
			<div class="col"></div>
			<div class="col">
				<h4>Dirección de envío</h4>
			</div>
			<div class="col"></div>
		</div>


		<div class="row">
			<div class="col">
				<div class="text">
					<p>Passeo de las Jarras 1554</p>
					<p>Col, Independencia</p>
					<p>Querétano, Querétano</p>
					<p>C.P. 45632</p>
				</div>
			</div>
			<div class="col">
				<a href="/pago" class="btn btn-danger">Enviar en esta dirección</a>
			</div>
		</div>

		<div class="row">
			<div class="col"></div>
			<div class="col">
				<a href="dirección" class="btn btn-secondary">Cambiar dirección</a>
			</div>
			<div class="col"></div>
		</div>

	</div>

	<app-footer></app-footer>

</div>